<nav class="navbar navbar-expand-md navbar-dark bg-dark px-2 py-2">
  <a class="navbar-brand" href="/">UFO Sightings</a>
  <button
    type="button"
    class="navbar-toggler"
    data-bs-toggle="collapse"
    data-bs-target="#navbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav nav">
      <li class="nav-item">
        <!-- TODO: CHANGE TO LINK ANOTHER PAGE!!-->
        <a class="nav-link" href="/shapes">Shapes</a>
      </li>
    </ul>
    <div class="d-flex justify-content-end">
      <a class="btn btn-outline-primary" href="/sighting" role="button"
        >Submit Sighting</a
      >
    </div>
  </div>
</nav>
