<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head.ejs') %> 
    <title>Oh no.</title>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %> 
    <h1>Whoops. We couldn't process your request.</h1>
    <p>Error 404</p>
  </body>
    

    <!-- Optional JavaScript -->
  </body>
  </html>
