	<footer class="footer">
		<div class="container-fluid text-center">

			<span class="text-muted text-dark">No of Visits: <%= visits %></span>
			<span class="text-muted text-dark">Unique Visits: <%= uniqueVisits %></span>
		</div>
	</footer>

  
  </body>
</html>