<%- include('header'); -%>

<body class="bg-dark">
  <div class="container">
    <div
      class="col-12 my-5 d-flex align-items-center justify-content-center flex-column text-white"
    >
      <h1>UFO Sightings App</h1>
      <br />

      <form action="/sighting" method="post">
        <label for="date_time">Date & Time :</label><br />
        <input
          type="text"
          id="date_time"
          name="date_time"
          size="50"
          class="form-control"
          required
        /><br />
        <label for="city">City:</label><br />
        <input
          type="text"
          id="city"
          name="city"
          size="50"
          class="form-control"
          required
        /><br />
        <label for="state">State:</label><br />
        <input
          type="text"
          id="state"
          name="state"
          size="50"
          class="form-control"
          required
        /><br />
        <label for="shape">Shape:</label><br />
        <input
          type="text"
          id="shape"
          name="shape"
          size="50"
          class="form-control"
          required
        /><br />
        <label for="duration">Duration:</label><br />
        <input
          type="text"
          id="duration"
          name="duration"
          size="50"
          class="form-control"
          required
        /><br />
        <label for="description"
          >Please describe your encounter here in detail:</label
        ><br />
        <textarea
          type="textarea"
          id="description"
          name="description"
          rows="5"
          cols="50"
          class="form-control"
          required
        ></textarea>
        <br />
        <label for="summary">Summary:</label><br />
        <input type="text" id="summary" name="summary" size="50" /><br />
        <% let createTime = new Date(); %>
        <label for="createTime">Create Time:</label><br />
        <input
          type="text"
          id="createTime"
          name="createTime"
          size="50"
          value="<%=createTime.toLocaleString() %>"
          class="form-control"
          required
        /><br />
        <br />
        <input type="submit" value="Submit" class="btn btn-primary" />
      </form>
    </div>
  </div>
  <%- include('footer'); -%>
</body>
