<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
      @layer utilities {
        body {
          @apply sm:text-sm md:text-base
        }
        
      }

      @layer components {
        form {
          @apply w-full max-w-sm rounded px-8 pt-6 pb-8
        }
        .btn {
          @apply ml-6 py-2 px-4 bg-teal-500 text-white font-semibold rounded-lg shadow-md hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-teal-400 focus:ring-opacity-75
        }
      }
    </style>
    <title><%= title %></title>
  </head>
  <body>
  <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<circle style="fill:#263A7A;" cx="256" cy="256" r="256"/>
	</g>
	<path style="fill:#121149;" d="M394.333,180.002c-63.743,18.67-154.631,0.964-169.363,81.17
		c-10.14,58.589-37.96,108.33-80.56,140.1l110.716,110.716c0.291,0,0.581,0.01,0.872,0.01c128.212,0,234.406-94.253,253.083-217.248
		L394.333,180.002z"/>
	<g>
		<polygon style="fill:#FFEDB5;" points="369.778,398.222 142.222,398.222 199.111,199.111 312.889,199.111 		"/>
	</g>
	<g>
		<polygon style="fill:#FDE085;" points="312.889,199.111 256.288,199.111 256.288,398.222 369.778,398.222 		"/>
	</g>
	<g>
		<path style="fill:#71E2EF;" d="M194.122,144.815c0-34.175,27.703-61.878,61.878-61.878s61.878,27.703,61.878,61.878H194.122z"/>
	</g>
	<g>
		<path style="fill:#38C6D9;" d="M256.288,82.944v61.871h61.59C317.878,110.737,290.328,83.101,256.288,82.944z"/>
	</g>
	<g>
		<path style="fill:#366695;" d="M119.953,177.449l73.88-36.94h123.756l74.452,37.226c3.543,1.77,3.674,6.79,0.217,8.723
			c-29.529,16.513-139.217,67.362-272.301-0.169C116.324,184.446,116.31,179.271,119.953,177.449z"/>
	</g>
	<g>
		<path style="fill:#2A597F;" d="M392.04,177.736l-74.452-37.226H256.29v79.858c67.486,0.264,117.465-23.561,135.97-33.909
			C395.712,184.527,395.583,179.507,392.04,177.736z"/>
	</g>
	<g>
		<ellipse style="fill:#FEE187;" cx="256" cy="399.084" rx="113.778" ry="14.222"/>
	</g>
	<g>
		<path style="fill:#FFC61B;" d="M369.778,399.084c0-7.842-50.785-14.202-113.49-14.222v28.443
			C318.993,413.286,369.778,406.926,369.778,399.084z"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
    <span class="font-semibold text-xl tracking-tight ml-6">UFO Sightings</span>
  </div>
  <div class="block lg:hidden">
    <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <a href="/" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
        Home
      </a>
      <a href="/sighting" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
        Add New
      </a>
      <a href="/shapes" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
        Browse by Shapes
      </a>
    </div>
    <div>
      <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Others</a>
    </div>
  </div>
</nav>
    </div>
  </body>
</html>
