<html>
  <body>
    <h1>UFO Sightings</h1>
    <form action="/sighting" method="POST">
      <label for="year">YEAR :</label><br />
      <input type="text" id="year" name="YEAR" /><br />
      <label for="season">SEASONS:</label><br />
      <input type="text" id="season" name="SEASON" /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
