<html>
        <%- include('partials-template/head'); %>

  <body>
        <%- include('partials-template/body'); %>

    <div id="home-desc" class="text-center">Welcome Home.</div>
  </body>
</html>
