<%- include('header'); -%>
<body class="bg-info">
<div class="container text-center ">
<br/>
<h1>List of Sightings</h1><br />
<% for( let i = 0; i < sightings.length; i++ ) { %>
<a 
class="text-dark"
href="/sighting/<%= i %>"
>Sighting <%= i + 1 %> </a >
<br />
<% } %>
</a>
<br />
<a href="/sighting">
<input type="button" value="Add New Sighting" />
</a>
</div>
</body>
<%- include('footer'); -%>
