<%- include('header') -%>
<h1>Sightings Shapes</h1>
<ul>
  <% shapes.forEach((shape) => { %>
  <li>
    <a href="/shapes/<%= shape.toLowerCase() %>"><%= shape %></a>
  </li>
  <% }); %>
</ul>
<%- include('footer') -%>
