<!DOCTYPE html>
<html lang="en">
  <%- include('header'); -%>
  <body>
    <%- include('navigation', { page: 'shapes' }); -%>
    <div class="container">
      <h2 class="mt-3">Sightings Shapes</h2>
      <ul>
        <% shapes.forEach((shape) => { %>
        <li>
          <a href="/shapes/<%= shape.toLowerCase() %>"><%= shape %></a>
        </li>
        <% }); %>
      </ul>
    </div>
  </body>
</html>
