<!DOCTYPE html>
<html lang="en">
  <%- include('header'); -%>
  <body>
    <%- include('navigation', { page: 'shapes' }); -%>
    <h1>Sightings Shapes</h1>
    <ul>
      <% shapes.forEach((shape) => { %>
      <li>
        <a href="/shapes/<%= shape.toLowerCase() %>"><%= shape %></a>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
