<%- include('header', {title: `New UFO Sighting created`}); -%> <%-
include('navbar'); -%>
<div class="container-lg text-center">
  <h2>New UFO Sighting created!</h2>
</div>
<%- include('footer'); -%>
