<%- include('header', {title: `Shapes`}); -%>
    <% sightings.forEach((element, index) => { %>
    <form action="/sighting/<%= element.index %>?_method=DELETE" method="POST">
    <a class="mr-6" href="/sighting/<%= element.index %>">Sighting <%= element.index %></a>
    <input class="btn" type="submit" value="Delete" />
    <br/>
    </form>
    <% }); %>
    
  </body>
</html>