<%- include('header', {title: `Shapes`}); -%>
  
    <div class="flex flex-wrap justify-center space-x-2 mt-6  ">
    <% shapes.forEach((value) => { %>
    
    <a class="px-4 py-2 m-4 rounded-full text-gray-500 bg-gray-200 font-semibold text-sm flex align-center w-max cursor-pointer active:bg-gray-300 transition duration-300 ease" href="/shapes/<%= value %>">Shapes: <%= value %></a>
    
    <% }); %>
    </div>
  </body>
</html>