<%- include('header', {title: `Shapes`}); -%>
  
    <div>
    <% shapes.forEach((value) => { %>
    
    <a href="/shapes/<%= value %>">Shapes: <%= value %></a>
    
    <br />
    
    <% }); %>
    </div>
  </body>
</html>