<%- include('header', {title: `Shapes`}); -%>
  
    
    <% sightings.forEach((element, index) => { %>
    
    <a href="/sighting/<%= element.index %>">Sighting <%= element.index %></a>
    
    <br />
    
    <% }); %>
    
  </body>
</html>