body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

img {
  width: 382px;
  height: 382px;
  object-fit: contain;
}

.hidden-submit-button {
  display: none;
}

.read-more {
  text-decoration: none;
}

.silent-link {
  text-decoration: none;
  color: black;
}
