img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.hidden-submit-button {
  display: none;
}

.read-more {
  text-decoration: none;
}

.silent-link {
  text-decoration: none;
  color: black;
}
