

<!-- Copy this for typical format -->
<html>
  <%- include('partials-template/head'); %>
  <body>
    <%- include('partials-template/body'); %>
    <!-- START YOUR CUSTOM CODE FROM HERE -->
  </body>
</html>


