#home-desc {
  color: #645b5b;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home {
  display: flex;
  background-color: grey;
  height: fit-content;
  flex-direction: column;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
}

#home.background-- {
  background: -webkit-linear-gradient(360deg, #645b5b 10%, #a79090 360%);
  background: -moz-linear-gradient(360deg, #645b5b 10%, #a79090 360%);
  background: linear-gradient(360deg, #645b5b 10%, #a79090 360%);
}

#home-line-1 {
  display: flex;
}
#home-line-2 {
  display: flex;
}

.input-form-- {
  flex-direction: column;
  display: flex;
}
.input-form-label {
  font-size: 2rem;
}
.input-form-submit {
  font-size: 2rem;
  display: flex;
  align-self: center;
}
.input-form-input {
  text-align: right;
  font-size: 2rem;
}
